@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open sans';
  font-weight: 300;
}

h2{
  letter-spacing: 2px !important;
}

.block-contact {
  display: flex;
  flex-direction: column;
  padding: 2rem 17rem;
  background-color: #272727;
}

.title-contact {
  padding: 2rem 0;
}

.title-contact h2 {
  font-size: 1.4rem;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.8);
}

.description-qr h5 {
  font-size: 0.5rem;
}

.box-qr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.qr-img {
  height: 100px;
  width: 100px;
}

.box-qr a {
  text-decoration: none;
}

.description-qr h5 {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 1rem 0;
  font-size: 16px;
  font-weight: 400;
}

.description-qr h5:hover {
  text-decoration: underline 1px rgb(231, 231, 231);
  transition-duration: 0.3s;
  color: rgb(255, 255, 255);
}

.footer {
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.footer h6 {
  font-size: 0.4rem;
  font-weight: 100;
  color: rgba(201, 201, 201, 0.562);
  letter-spacing: 2px;
  margin: 0;
}

#emi {
  color: rgba(89, 155, 255, 0.7);
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  .block-contact {
    padding: 2rem 1rem;
  }

  .box-qr {
    display: block;
    margin: 0 auto;
  }

  .title-contact {
    padding: 0;
  }

  .title-contact h2 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
    padding-bottom: 1rem;
  }

  .qr-img {
    height: 100px;
    width: 100px;
  }

  .description-qr h5 {
    font-size: 1rem;
  }

  .footer {
    height: 1rem;
  }

  .footer h6 {
    font-size: 0.35rem;
    letter-spacing: 1.5px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 1200px) {
  .block-contact {
    padding: 2rem;
  }
}
