@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open sans';
  font-weight: 300;
}

.block-header {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(224, 224, 224);
  flex-direction: row-reverse;
}

.box-title {
  text-align: left;
}

.box-title h1 {
  font-weight: 800;
  color: rgba(48, 48, 48, 0.95);
  margin: 0.5rem;
  font-size: 1.8rem;
}

.box-title h3 {
  font-size: 1.2rem;
  color: rgb(52, 126, 238);
  font-weight: 800;
  margin: 0.5rem;
}
.principal-image {
  width: 10%;
  filter: brightness(1.5);
  border-radius: 100%;
  border: solid 1px rgb(175, 175, 175);
  box-shadow: 0px 0px 5px 0px rgba(68, 68, 68, 0.5);
}

.box-links {
  display: flex;
  justify-content: left;
  align-content: center;
  align-items: center;
}

.box-links figure {
  width: 10%;
  margin: 0.5rem;
}

.box-links img {
  width: 100%;
  border-radius: 100%;
  cursor: pointer;
  background-color: rgb(224, 224, 224);
  box-shadow: 0px 0px 5px 0px rgba(68, 68, 68, 0.5);
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  .block-header {
    flex-direction: column;
  }

  .box-title h1 {
    margin: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
  }

  .box-title h3 {
    font-size: 1rem;
    margin: 0.5rem;
    text-align: center;
  }

  .principal-image {
    width: 25%;
  }

  .box-links {
    justify-content: center;
  }

  .box-links figure {
    width: 8.5%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 1200px) {
  .block-header {
    justify-content: space-between;
  }
}
